html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #E9ECEE;
  font-family: Averta Std,Segoe UI,-apple-system,Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.kc-logo {
  position: fixed;
  z-index: -1;
  width: 52px;
  top: 6%;
  left: 6%;
}

input[name="password"]::placeholder {
  color: #8697A2;
  font-size: 16px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.grey-c {
  width: 138%;
  padding-bottom: 138%;
  background: #E4E7EA;
  transform: translate(-88%, -8%);
}

.blue-c {
  width: 61%;
  padding-bottom: 61%;
  background: #1E2255;
  transform: translate(40%, 31%);
}

.dark-blue-c {
  width: 138%;
  padding-bottom: 138%;
  background: #263C8E;
  transform: translate(-10%, -89%);
}

.kc-label {
  color: #010913;
  font-size: 16px;
  line-height: 24px;
}

.kc-input {
  background: #F3F5F6;
  border: 1px solid #E2E6E9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
}

.checkbox label {
  font-size: 14px;
  color: #8697A2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.kc-input[aria-invalid="true"] {
  border: 1px solid #FF4E64;
}

.kc-button {
  border-radius: 8px;
  height: 48px;
  border: none;
  cursor: pointer;
  padding-right: 40px;
  padding-left: 40px;
}

.kc-button-primary {
  background: #1A5BFF;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.kc-form-group {
  display: grid;
  gap: 8px;
}

.kc-form-group-horizontal {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
 }

.kc-form-buttons {
  margin-top: 40px;
}

.kc-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.kc-content {
  background: #fff;
  border-radius: 16px;
  padding: 40px;
  display: grid;
  gap: 24px;
  box-shadow: 0px 30px 100px -20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-width: 500px;
  max-width: 1000px;
}

form {
  border-radius: 16px;
  display: grid;
  gap: 24px;
}

.kc-form-wrapper {
  background: #fff;
  border-radius: 16px;
  min-width: 480px;
  height: auto;
  backdrop-filter: blur(30px);
  box-sizing: border-box;
  position: relative;
}

.kc-form {
  display: grid;
  gap: 24px;
}

.kc-form-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #010913;
  margin-bottom: 16px;
}

.kc-form-login-forgot {
  text-align: center;
}

a {
  font-size: 14px;
  color: #1A5BFF;
  text-decoration: none;
}

.kc-input-error-message {
  color: #FF4E64;
  display: flex;
  align-items: center;
  gap: 8px;
}

.kc-input-message {
  display: flex;
  align-items: center;
  gap: 8px;
}

#kc-password {
  position: relative;
}

#kc-password-eye {
  position: absolute;
  top: 40px;
  right: 12px;
  cursor: pointer;
}

.kc-alert {
  position: fixed;
  bottom: 2%;
  left: 2%;
  padding: 12px 16px;
  background: #FFFFFF;
  box-shadow: 0px 1.2px 3.6px rgb(0 0 0 / 10%), 0px 6.4px 14.4px rgb(0 0 0 / 13%);
  border-radius: 8px;
}

.alert-error {
  color: #FF4E64;
}

.alert-success {
  color: #0AB758;
}

#kc-page-title {
  text-align: center;
  color: black;
  margin: 0;
}


